name: Playwright Table Sum

on:
  workflow_dispatch:
  push:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install playwright
          playwright install

      - name: Run scraper 22f3001159@ds.study.iitm.ac.in
        run: |
          python scrape.py
